.wrapper {
  display: flex;
  position: relative
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  width: 100px;
  cursor: pointer;
  background: transparent;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  &:hover {
    background: rgba(0, 0, 0, 0.12);
  }
}

.account {
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.isMenu {
  border-radius: 12px;
  background: rgba(0,0,0,0.12);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border: none;
}

.menuContainer {
  position: absolute;
  width: 180px;
  height: fit-content;
  background: rgba(0, 0, 0, 0.12);
  top: 40px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
